.mapview-wrapper,
.leaflet-container {
  height: 100vh;
  min-height: 100%;
}
.leaflet-popup-content {
  min-width: 61px !important;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: rgba(51, 51, 51);
  color: #fff;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.leaflet-popup-content .img-popup-wrapper {
  width: 200px;
  height: 100px;
}
