.sidebar-wrapper {
  margin-top: 6rem;
  position: absolute;
  z-index: 999;
  background: rgba(0, 0, 0, 0.45);
  padding: 0.6rem;
}
.sidebar-wrapper.hide {
  transform: translateX(-100%);
  transition: transform 0.4s ease-out;
}
.sidebar-wrapper.show {
  transform: translateX(0);
  transition: transform 0.4s ease-in;
}
.sidebar-wrapper ul li {
  padding: 1rem;
}
.sidebar-wrapper ul li.active {
  background: rgba(0, 0, 0, 0.24);
}
.sidebar-wrapper a {
  text-decoration: none;
  color: inherit;
}
